:root {
    --primary-color: rgb(87, 16, 153);
    --secondary-color: rgba(216, 112, 147, 0.537);
    --tertiary-colour: peru;
    --box-shadow: 5px 8px lightgray;
}

body {
  border: 1px var(--tertiary-colour) solid;
  border-radius: 30px;
  padding: 40px 20px;
  margin: 30px;
}

h1, h2{
    text-align: center;
    color: var(--primary-color);
    line-height: 35px;
}

h1 {
    margin-top: 5px;
}

button {
   background-color: var(--secondary-color);
   border: 1px whitesmoke solid;
   border-radius: 10px;
   box-shadow: var(--box-shadow);
   cursor: pointer;
   display: block;
   flex: 1;
   margin: 0 auto;
   margin-left: 5px;
   margin-right: 5px;
   padding: 10px 15px;
   text-decoration: none;
   transition: ease-in-out all 20ms;

}

button:hover {
    background-color: white;
    border: 1px var(--secondary-color) solid;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.button-container {
  max-width: 50%;
  margin: 0 auto;
  display: flex;
}

.email-link {
  border: 1px var(--tertiary-colour) solid;
  padding: 10px 5px;
  border-radius: 10px;
  cursor: pointer;
}

.email-link:hover {
background-color: var(--tertiary-colour);
border-color: black;
}