:root {
    --primary-color: rgb(87, 16, 153);
    --secondary-color: rgba(216, 112, 147, 0.35);
    --tertiary-colour: peru;
    --box-shadow: 12px 9px 25px rgba(0, 0, 0, 0.3);
}

@media (max-width: 900px) {
  img {
    display: none;
  }

  p {
    display: block;
    margin: 0 auto;
  }

  button {
    display: inline-block;
  }
}

body {
  padding: 40px 20px;
  margin: 30px auto;
  width: 70%;
  text-align: center;

}

h1, h2{
    color: var(--primary-color);
    line-height: 35px;
}

h1 {
    margin-top: 5px;
} 

.navbar {
  position: fixed;
}

.about-me-image {
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.description-paragraph {
  background: var(--secondary-color);
  border-radius: 10px;
}

.about-me-button {
  border: 1px solid var(--primary-color);
  box-shadow:  -3px 19px 13px rgba(0, 0, 0, 0.2);
}

.contact-me-button {
  border: 1px solid var(--primary-color);
  box-shadow:  -3px 19px 13px rgba(0, 0, 0, 0.2);
}

.about-me-button:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.contact-me-button:hover {
  background-color: var(--primary-color);
}

.work-link-button {
  background-color: var(--tertiary-colour);
  color: whitesmoke;
  font-weight: BOLD;
}

.email-link:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.email-link:visited {
  color: var(--primary-color);
}
